# Ignore everything
*

# Except ...
!/**/ # https://stackoverflow.com/questions/33983210/git-gitignore-in-subdirectories/33983585#33983585
!go.mod
!go.sum
!*.go
!*.graphql
!.dockerignore
!.gitignore
!.git/
!Makefile
!Dockerfile
!*.md
